<footer>
	<div class="footer">
		<span class="lia">
					<a href="index.html" title="FX168财经首页">
							<img src="{{images.index}}"  alt="FX168财经首页"><br>
							<em>首页</em>
					</a>
			</span>
		<span class="lia">
			<a href="news.html" title="财经新闻">
					<img  src="{{images.news}}" alt="财经新闻"><br>
					<em>资讯</em>
			</a>
			</span>
		<span>
			<a href="sudi.html" title="外汇黄金速递">
				<img src="{{images.sudi}}" alt="外汇黄金速递"><br>
				<em>速递</em>
			</a>
		</span>
		<span>
			<a href="quote.html" title="外汇行情">
					<img src="{{images.quote}}" alt="外汇行情"><br>
				 	<em>行情</em>
			</a>
		</span>
		<span class="mycjrl">
			<a href="calendar.html" title="财经日历">
					<img src="{{images.calendar}}" alt="财经日历"><br>
					<em>财经日历</em>
			</a>
		</span>
	</div>
	<div class="moudle_footer"></div>
</footer>
